

html,body {
    background: #758F93;
    font-family: Arial, Helvetica, sans-serif;
    height: 95%;
    min-height: 95%;
    margin: 0px; 
}

td { 
    color: #536C70; 
}



/*layout*/
#contenedor {
    /*width: 1095px;*/
    width: 98%;
    min-width: 1250px;
    margin: 0 auto;
    height: 100%; 
}

#header {
    /*width: 1095px;*/
    min-width: 1250px;
    height: 72px;
    background: #43474A 
}

#menu {
    background: #637A7D;
    border: none;
    float: left;
    height: 100%;
    min-height: 560px;
    /*width: 195px; */
    width: 15%;
    min-width: 195px;
    overflow-y: auto;
}

#contenido {
    background: #FFF;
    border: none;
    height: 100%;
    min-height: 560px;
    /*margin-left: 195px;*/
    margin-left:15%;
    width: 85%;
    /*width: 900px;*/
    /*padding: 20px 40px;*/ 
}

#footer {
    color: white; /*bottom:1.545555px;*/
    font-size: 10px;
    left: 0; /*position:absolute;*/
    text-align: right;
    /*width: 1095px;*/
    width: 95%;
    min-width: 1250px;
    margin: auto;
    padding: 2px; 
}

/*end subtitulo*/
.subtitulo {
    font-size: 11px;
    color: #46b9b9;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    /*padding-top: 12px;*/
}

.iconMano { 
    cursor: pointer; 
}

a {
    color: #46B8B8; /* enlaces de texto sobre fondo blanco */
    font-size: 10px;
    font-weight: bold;
    text-decoration: none; 
}

h1{
    color: #46B9B9;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding-top: 12px;
    text-transform: uppercase; 
}

#contenedor-ultimas-actividades { 
    line-height: 20px; /* Eliminar estilo del c?digo y aplicar s?lo ?ste */ 
    /*color:#46B9B9;*/
    color:#536c70;
}


/* contenido header */
#logo-profondo {
    background: url('../images/logo-holding.png');
    clear: both;
    float: left;
    margin-left: 9px;
    margin-top: 10px;
    background-color: transparent; /*#425457 position:relative;*/
    height: 55px;
    width: 198px;
}


.btn {
    background: #46b9b9;
    border: 0px; /*solid #fff;*/
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    color: #fff;
    padding: 7px 11px;
    min-width: 45px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
}


.btn:hover{
    background: #1FE0E0;
}

.btn:focus{
    background: #1FE0E0;
}




.btnie7 {
    background: #46b9b9;
    border: 0px; /* solid #fff; */
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    color: #fff;
    padding: 7px 13px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
}
/* test botones activos */
.btnie7:hover{
    background: #1FE0E0;
}

.btnie7:focus{
    background: #1FE0E0;
}

.head-tool {
    margin-top: 20px;
    margin-left: 2px;
    float: right; 
}

.head-tool-btn {
    margin-top: 18px;
    margin-left: 2px;
    float: right;
    margin-right: 15px;
    margin-left: 18px; 
}

.profile_name {
    color: #fff;
    font-size: 11px;
    font-weight: bold; 
}

.profile_name-back-office {
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.profile {
    color: #ccc;
    font-size: 11px; 
}

.profile-back-office {
    color: #637A7D;
    font-size: 11px; 
}

/* menu */
.tabla-menu {
    width: 95%;
    margin: auto;
    padding: 4px; 
}

.itemprincipal span {
    color: white;
    font-weight: bold;
    font-size: 12px; 
}

.itemsecundario a {
    color: white;
    margin-left: 24px;
    margin-top: 20px;
    font-weight: normal; 
}

.img-menu {
    margin-top: 2px;
    position: absolute;
    margin-left: 15px; 
}

#content-menu, .content-menu {
    border-bottom: 3px solid #758F93;
    /*border-top: 3px solid #758F93;*/
    padding: 5px; 
}

#menu-accesos-directos {
    margin-left: 10px;
    margin-top: 5px; 
}

/*input en menu*/
.inputmenu {
    border: 2px solid #E9EDED;
    background: #E9EDED;
    font-size: 11px;
    color: #536c70;
    padding: 2px; 
}

.select * { padding: 2px; }

.input {
    border: 2px solid #E9EDED;
    background: #E9EDED;
    min-width: 150px;
    max-width: 300px;
    font-size: 11px;
    color: #536c70;
    padding: 2px;
}

/* solo input dentro de un td */
td input[type='text']{
    margin-bottom:4px;
}


/* tama?o auto completar */
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden; 
}

.icon-triangle {
    background-position: -32px -16px;
    background-image: url(../css/custom-theme/images/ui-icons_222222_256x240.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden; 
}

/*diferencias rol*/
.head-back-office {
    width: 100%;
    height: 41px;
    min-width: 1100px;
    border-bottom: 10px solid #425457; 
}

.profile_name {
    color: #fff;
    font-size: 11px;
    font-weight: bold; 
}

.profile_name-back-office {
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.profile {
    color: #ccc;
    font-size: 11px; 
}

.profile-back-office {
    color: #637A7D;
    font-size: 11px; 
}

.marco-info {
    border: 3px solid #E9EDED;
    padding: 10px; 
}

/*calendar*/
.ui-datepicker-trigger { 
    margin-top: 4px; 
}


.icon-triangle {
    background-position: -32px -16px;
    background-image: url(../css/custom-theme/images/ui-icons_222222_256x240.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden; 
}


.icon-triangle-left {    
    background-position: -96px -16px;
    background-image: url(../css/custom-theme/images/ui-icons_222222_256x240.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden; 
}

.icon-triangle-fin {    
    background-position: -64px -160px;
    background-image: url(../css/custom-theme/images/ui-icons_222222_256x240.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden; 
}


.icon-triangle-fin-left {    
    background-position: -80px -160px;
    background-image: url(../css/custom-theme/images/ui-icons_222222_256x240.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden; 
}

.clas-disable{
    color: #B4C1C2; 
    cursor: text;
}

.clas-disable_dev{
    color: #B6C5D9; 
    cursor: text;
}

/* dialog */


.red-dialog{
    border: 1px solid #AAA;
    background: #FF3333;
    color: white;
    height: 30px;
    /* font-weight: bold;*/
}

.red-normal{
    border: 1px solid #53666A;
    background:#53666A;/* #637a7d;*/
    color: white;
    height: 30px;
    /* font-weight: bold;*/
}


.input-dialog {
    border: 2px solid white;
    background: white;
    font-size: 11px;
    color: #536c70;
    padding: 2px;
}

.int-dialog{
    width: 98.7%;
    height: 97.5%;
    background-color:#E4E4E4;      
    padding: 4px;
}

#dialog-abrir-orden{
    padding: 0px;
}

.btn-red {
    background: #F33;
    border: 1px solid #F33;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    color: #fff;
    padding: 4px 6px;
    min-width: 45px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
}


.head-tabla-ingreso-orden, .head-tabla-ingreso-orden-edt{

    color:#536C70;
    font-size:1em;
    font-weight: bold;
    height: 27px;
    padding-left: 5px; 
    padding-right: 5px; 
    border: 1px solid lightGrey;     
    background:/* url("../custom-theme/images/ui-bg_flat_75_b4c1c2_40x100.png") repeat-x scroll 50% 50%*/ #DFE5E5;    
    border-left:1px solid #BEBEBE;


}

.body-tabla-ingreso-orden, .body-tabla-editar-orden{
    border-left:1px solid #BEBEBE;
    height: 40px; 
}

.body-tabla-ingreso-orden-r, .body-tabla-editar-orden-r{
    border-right: 1px solid #BEBEBE;
}

.body-tabla-ingreso-orden-b, .body-tabla-editar-orden-b, .body-tabla-ingreso-orden-edt{
    border-bottom:1px solid #BEBEBE;
}

.orden-input-fecha-trading, .orden-input-fecha-trading-edt{
    /*width: 63%;*/
    width: 74%;
    padding: 0px;
    padding-right: 2px;
}

.cubre-input-fecha{
    height: 26px; 
    background-color: #E9EDED; 
    width: 90%; 
    margin: auto; 
}


.label-id-orden-disabled{
    color: #E9EDED;
}

.label-id-orden-enabled{
    color: #536C70;
}


.inputmenu-blotter {
    border: 1px solid #ABABAC;
    background: #FFFFFF;
    font-size: 11px;
    color: #536c70;
    padding: 2px; 
} 

.inputmenu-blotter-calendar, .inputmenu-blotter-calendar-edt {
    border: 0px solid white;
    background: #FFFFFF;
    font-size: 11px;
    color: #536c70;
    /* padding: 2px; */
} 


.cubre-input-fecha-blotter, .cubre-input-fecha-blotter-edt{
    height: 25px; 
    background-color: #FFFFFF; 
    width: 94%; /*90%;*/
    margin: auto; 
    border: 1px solid #ABABAC;
}


/* Ventanas modales */

.ui-widget-overlay{
    opacity:0.8;
    background:#748F93;
}

.ui-dialog{
    padding:0px;
}

fieldset{
    border:0px;
}

.ui-dialog-titlebar{
    border:0px solid #aaa;
    background:#53666A;
}

.ui-dialog-title{
    color:white;
}


.subtitulo-modal{
    /*text-transform: lowercase;/*minuscula*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #526c70;
}

.contenido-modal{
    /*text-transform: lowercase;/*minuscula*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #526c70;
}


/*ingreso de fondos*/


.sub-titulo-ingreso-fondo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#526C70;
}

.text-fechas-nonav-fondo, .text-fechas-nonav-fondo-manager{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #536C70;
    font-style:normal;
    text-decoration:none;
}

.btn-constextual-ingreso-fondo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#009999;
}

.seccion-ingreso-fondo{   
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #E9EDED;
    padding: 10px 10px;
}

.input-invalid{
    border: 1px solid #FF0101;
    background: #E9EDED;
    /*min-width: 150px;
    max-width: 300px;*/
    font-size: 11px;
    color: #536c70;
    padding: 2px;
}

.text-info-valida{
    float: right; 
    color: red; 
    font-style: italic; 
    height: 18px; 
    display: none; 
    margin-right: 22px; 
    font-weight:normal;
}


/*notficaciones*/

.noti-pendientes {
    background: #D2A41C;
    border: 0px; /* solid #fff; */
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    color: #fff;
    padding: 4px 7px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
    cursor: pointer;
}

.noti-activas {
    background: #1CA4A4;
    border: 0px; /* solid #fff; */
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    color: #fff;
    padding: 4px 7px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
    cursor: pointer;
}

.noti-rechazadas {
    background: #FF4949;
    border: 0px; /* solid #fff; */
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    color: #fff;
    padding: 4px 7px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    cursor: pointer;
}

.noti-en-validacion {
    background: #034769;
    border: 0px; /* solid #fff; */
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    color: #fff;
    padding: 4px 7px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
    cursor: pointer;
}


.tabla-menu-notificaciones {
    width: 98%;
    margin: auto;
    padding: 2px; 
}


/*modificar tamanio spinner*/
td .ui-spinner{
    width:44%;
}

#spinner-content .ui-spinner{    
    width: 30%;
}

#spinner-content-ta .ui-spinner, #edt-spinner-content-ta .ui-spinner{    
    width: 30%;
}

.ui-spinner-input{
    margin:0;
}

td.spninner-cut-off-time .ui-spinner{
    width: 55%;
}

#ingreso-monto-orden-porcentaje-edit{
    margin:0;
}


#fund-manager-horadesde-fondo{
    margin:0;
}

#fund-manager-horahasta-fondo{
    margin:0;
}

#tranfert-agente-hora-market-ini, #edt-tranfert-agente-hora-market-ini{
    margin:0;
}
#tranfert-agente-hora-market-fin, #edt-tranfert-agente-hora-market-fin{
    margin:0;
}


#new-fund-manager-mercado-cut-off-time, #new-fund-manager-mercado-cut-off-time-subscription, #new-fund-manager-mercado-cut-off-time-redemption{
    width: 71%;
    margin: 0;
}

#editar-fund-manager-mercado-cut-off-time, #editar-fund-manager-mercado-cut-off-time-subscription, #editar-fund-manager-mercado-cut-off-time-redemption{
    margin:0;
}


/* input file*/


.input-file{


    filter: alpha(opacity=0);
    position: relative;
    cursor: pointer;
    width: 128px;
    top: -26px;
    opacity: 0;

    /*
    border: 1px solid #c9c9c9;
    filter: alpha(opacity=0);
    position: absolute;
    right: 232px;
    cursor: pointer;
    width: 128px;
    margin-right: 100px;
    opacity: 0;
    */
    /*margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;*/
}

.cuenta-fondo{
    color:#536C70;
}

.sigla-time-market{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    color:#00999A;
}

.hora-info-mercado{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    color:#00999A;
}

.info-time-market{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.1em;
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    color:#666666;
}


.info-time-market-cierre{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.1em;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    color:#00999A;
    margin-left: 3px;
}




/* tooltips css*/

.ui-tooltip, .arrow:after {
    background: black;
    opacity:0.8;
    border: 0px solid #c9c9c9;
}
.ui-tooltip {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font: 12px "Helvetica Neue", Sans-Serif;
    /*text-transform: uppercase;*/
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/* estilo no bold en  tablas */

.noBold{
    font-weight: normal;
}
table.tabla_totales{
    font-size: 12px;
    border-spacing: 8px 0px;
}
table.tabla_totales td{
    padding: 4px 0px;
}
table.tabla_totales tr.primera td{
    padding: 8px 0px 4px 0px;
}
table.tabla_totales tr.ultimo td{
    padding: 4px 0px 0px 0px;
}
table.tabla_totales tr.unico td{
    padding: 8px 0px 0px 0px;
}

.select_disabled{
    color: lightgray;
}

#disclaimer-autorizacion-orden button{
    background: none repeat scroll 0 0 #46B9B9;
}

/* btn mensaje iso detalle e historial */

.btn-ver-mensaje{
    float: right; 
    margin-top: -45px; 
    width: 67px; 
    vertical-align: middle; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    background-color: rgb(70, 185, 185); 
    background-position: initial initial; 
    background-repeat: initial initial;
}



.btn-constextual-enabled{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#009999;
    cursor: pointer;
}

.btn-constextual-disabled{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#CECFCF;
    cursor: text;
}

.disabled_btn_color{
    background-color: lightgrey !important;
    cursor: auto !important;
}

.disabled_btn_color_dev{
    background-color: #B6C5D9 !important;
    cursor: auto !important;
}

.tablaResumenItemsErrores tr td{
    height: 25px;
    border-bottom: 1px solid #D4DBDB;
    border-right: none;
}
.tablaResumenItemsErrores tr td.lastErrorItem{
    border-bottom: none;
}
#tabla-edtords thead tr th{
    padding-left: 4px;
    padding-right: 4px;
}

.content-link-download-reporte{
    margin-top: -20px;
    margin-bottom: 15px;
    margin-left: 5px;
    padding-left: 100px;
}

#header.headerBackOffice{
    background-color: white !important;
    border-bottom: 4px solid #425457;
}

.ingreso-ordenes-input-folio{
    max-width: 100px;
}
input.input-folio-pequenio{
    max-width: 70px !important;
    font-size: 12px !important; 
}

#feedback-set-idioma{
    position: absolute; 
    background-color: black; 
    border: 2px solid rgb(201, 201, 201); 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    color: white; 
    height: 15px;
    padding: 10px;
    top: 30px;
    right: 242px;
    font-size: 12px;
    display: none;
}

.switch_inf table.clase_aux_1{
    text-align: left; width: 100%;
}
.switch_inf table.clase_aux_1 tbody tr td{
    height: 15px !important;
}

.id-fondo-destino{
    font-size:9px;
}

tr.borde_switch_abajo td{
    border-bottom: 2px solid #1B80FE !important;
}
tr.borde_switch_arriba td{
    border-top: 17px solid #1B80FE !important;
}

td.cut-off-transfer-agent .ui-spinner {
    width: 75%;
}

td.cut-off-transfer-agent input[type='text']{
    margin-bottom:0px;
}


#tbl-ing-ordenes select:disabled, #tabla-edtords select:disabled{
    color: #C9C9C9 !important;
    -webkit-color: #536C70 !important;
}
/*#tbl-ing-ordenes input[type="text"]:disabled, #tabla-edtords input[type="text"]:disabled{
    color: #C9C9C9 !important;
    -webkit-color: #536C70 !important;
}*/

#tbl-ing-ordenes tr.por_enviar select:disabled, #tabla-edtords tr.por_enviar select:disabled,
#tbl-ing-ordenes tr.por_enviar input[type="text"]:disabled, #tabla-edtords tr.por_enviar input[type="text"]:disabled{
    color: gray !important;
}

/*Allocation Tables*/
#amount-allocation-table,#units-allocation-table,#units-allocation-history-table,#amount-allocation-history-table {
    width: 98%; 
    border-collapse: collapse;
}

#amount-allocation-table tr td, #units-allocation-table tr td,#units-allocation-history-table tr td,#amount-allocation-history-table tr td{
    border:1px solid grey;
}

#amount-allocation-table th td, #units-allocation-table th td, #units-allocation-history-table th td, #amount-allocation-history-table th td{
    border:1px solid grey;
}

.texto-alerta{
    color:red;
    font-weight: bold;
}


