/* 
    Document   : profondos.login
    Created on : 29-10-2012, 05:09:46 PM
    Author     : Cristian Diaz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body{
    font-family:Helvetica, Arial, sans-serif;
    color: #425457;
    margin-top:7px;
}

input, select {
    font-family:Helvetica, Arial, sans-serif;
    color: #425457;
    font-size:12px;
}

a{
    color: #690;
    text-decoration: none;
}

#header {
    background: url("/images/logo.jpg") no-repeat scroll 20px 14px #425457;
    height: 50px;
    position: relative;
    width: 100%;
    margin-left:-24px;
    left:24px;
}
/*#container{
        padding-left:30px;
        padding-bottom: 24px;
    position: relative;
        }*/
table {
    background:#FFF;
}

tr {
    font-size:11px;
    padding: 5px !important;
    background:#596F73;
}
td {
    font-size:11px;
    padding: 5px;
    /*	background:#fff;*/
    border: 1px solid #fff;
    color: #425457;
}
th {
    font-size:11px;
    color:#fff;
    padding:6px;
    text-align:left !important;
    background:#AEC0BF;
}


iframe {
}

/*
.tit {
    font-size:15px;
    font-weight:normal;
    color:#334345;
    letter-spacing:-1px;
    font-weight:bold;
    background:#FFF url(/images/bullet.jpg) left 5px no-repeat;
    padding: 0 12px;
    text-align:left;
}
*/
.sub {
    font-size:14px;
    font-weight:normal;
    color:#334345;
    letter-spacing:-1px;
    text-align:left;
    margin:10px 0;
}
.t0 {
    width:100px;
    text-align:left;
}
.t1 {
    width:50px;
    text-align:left;
}
.t2 {
    width:50px;
    text-align:left;
}
.t3 {
    width:100px;
    text-align:left;
}
.t4 {
    width:200px;
    text-align:left;
}
.t5 {
    width:50px;
    text-align:left;
}
.t6 {
    width:50px;
    text-align:left;
}
.t7 {
    width:100px;
    text-align:left;
}
.t8 {
    width:50px;
    text-align:left;
}

.box{
    overflow:auto; 
    width:860px; 
    height:425px; 

}
.form_button{
    background:url(/images/resultado.jpg) center no-repeat;
    width:110px;
    height:35px;
    border:0;
    font-size:10px;
    font-weight:bold;
    color:#fff;
    outline:none;
}

.form_button2{
    background:url(/images/descargar.jpg) center no-repeat;
    width:110px;
    height:35px;
    border:0;
    font-size:10px;
    font-weight:bold;
    color:#fff;
    outline:none;
}
.form_button3{
    background:url(/images/solicitar.jpg) center no-repeat;
    width:100px;
    height:30px;
    border:0;
    font-size:10px;
    font-weight:bold;
    color:#fff;
    outline:none;
}
.form_button4{
    background: url('../images/bot_ingresar.jpg') center no-repeat;
    width:100px;
    height:30px;
    border:0;
    font-size:10px;
    font-weight:bold;
    color:#fff;
    outline:none;
}
input{
    width:60px;
    border:#BDC5C5 1px solid;
}
.sidebar{
    background:#637A7D;
    margin:0 auto;
}
.box1{
    background:#AEC0BF;
    margin: 10px 15px 15px 0;
    width: auto;
}
.box2{
    background:#DFE5E5;
    width: 240px;
    height:150px;
}
.titulo_aut{
    color: #5D6E70;
    font-size:18px;
    font-weight:bold;
    letter-spacing:-0.8px; 
    margin-bottom:8px;
}


#contenedor{
    width: 60%;
    min-width: 300px;
    margin: auto;
    min-height: 650px;
}    

#contenido-login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 240px;
}