#dataGrillas{position: relative; height:auto;  text-align: center; z-index: 2; left:10px; margin-bottom: 15px; } /*width:1185px;*/


.cellBorderLeft{
    /*border-left: 1px solid #BEBEBE;*/
}
.cellBorderRight{
    border-right: 1px solid #BEBEBE;
}
.cellBorderBottom{
    border-bottom: 1px solid #BEBEBE;
}
.cellBorderTop{
    border-top: 1px solid #BEBEBE;
}

#tabla-subcuentas,#tabla-grupos-subcuentas,#tabla-listado-eventos-data-feed,#tabla-listado-eventos-actualizacion,#tabla-ordenes-por-estado-custodio,#tabla-lista-contactos-head,#tabla-listado-cuentas, #tabla-listado-mercado, #tabla-ordenes-por-excepciones,#tabla-ordenes-por-estado,#tabla-listado-managers, #tabla-ordenes-abiertas, #tabla-listado-eventos,#tabla-listado-ultimas-ordenes, #tabla-listado-usuarios, #tabla-blotter-ordenes, #tabla-listado-fondos, #tabla-listado-feriados, #tabla-notif-ult-fondos-activos, #tabla-notif-fondos-pedientes, #tabla-notif-fondos-rechazados, #tabla-solicitudes-de-activacion-fondos, #tabla-errores-reporte-carga, #tabla-resumen-ordenes-cm, #tabla-resumen-creadas-cm, #tabla-listado-fund-admins, #tabla-notif-fondos-en-validacion, #tabla-listado-transfer-agents, #tabla-usuarios-conectados, #tabla-historial-conexiones, #tabla-fund-stock, #tabla-listado-fund-stock{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    color: #536C70;
    border-left: 1px solid #D4DBDB;
    /*border-top: 1px solid #D4DBDB;
    font-size: 11px;
    text-transform:uppercase;*/
}
#tabla-grupos-subcuentas_length,#tabla-subcuentas_length,#tabla-listado-eventos-actualizacion_length,#tabla-ordenes-por-estado-custodio_length,#tabla-lista-contactos-head_length, #tabla-listado-cuentas_length, #tabla-listado-mercado_length,#tabla-ordenes-por-excepciones_length,#tabla-ordenes-por-estado_length,#tabla-listado-managers_length,#tabla-ordenes-abiertas_length,#tabla-listado-eventos_length,#tabla-listado-ultimas-ordenes_length, #tabla-listado-usuarios_length,#tabla-blotter-ordenes_length, #tabla-listado-fondos_length, #tabla-listado-feriados_length, #tabla-notif-ult-fondos-activos_length, #tabla-notif-fondos-pedientes_length, #tabla-notif-fondos-rechazados_length, #tabla-solicitudes-de-activacion-fondos_length, #tabla-errores-reporte-carga_length, #tabla-resumen-ordenes-cm_length, #tabla-resumen-creadas-cm_length, #tabla-listado-fund-admins_length, #tabla-notif-fondos-en-validacion_length, #tabla-listado-transfer-agents_length, #tabla-usuarios-conectados_length, #tabla-historial-conexiones_length, #tabla-fund-stock_length, #tabla-listado-fund-stock_length{
    float:left;
}
#tabla-grupos-subcuentas_filter,#tabla-subcuentas_filter,#tabla-listado-eventos-data-feed_filter,#tabla-listado-eventos-actualizacion_filter,#tabla-ordenes-por-estado-custodio_filter,#tabla-lista-contactos-head_filter,#tabla-listado-cuentas_filter, #tabla-listado-mercado_filter,#tabla-ordenes-por-excepciones_filter,#tabla-ordenes-por-estado_filter,#tabla-listado-managers_filter,#tabla-ordenes-abiertas_filter,#tabla-listado-eventos_filter,#tabla-listado-ultimas-ordenes_filter, #tabla-listado-usuarios_filter,#tabla-blotter-ordenes_filter,#tabla-listado-fondos_filter, #tabla-listado-feriados_filter, #tabla-notif-ult-fondos-activos_filter, #tabla-notif-fondos-pedientes_filter, #tabla-notif-fondos-rechazados_filter, #tabla-solicitudes-de-activacion-fondos_filter, #tabla-errores-reporte-carga_filter, #tabla-resumen-ordenes-cm_filter, #tabla-resumen-creadas-cm_filter, #tabla-listado-fund-admins_filter,#tabla-notif-fondos-en-validacion_filter, #tabla-listado-transfer-agents_filter, #tabla-usuarios-conectados_filter, #tabla-historial-conexiones_filter, #tabla-fund-stock_filter, #tabla-listado-fund-stock_filter{
    float:right;
}
#tabla-grupos-subcuentas_info,#tabla-subcuentas_info,#tabla-listado-eventos-data-feed_info,#tabla-listado-eventos-actualizacion_info,#tabla-ordenes-por-estado-custodio_info,#tabla-lista-contactos-head_info,#tabla-listado-cuentas_info, #tabla-listado-mercado_info,#tabla-ordenes-por-excepciones_info,#tabla-ordenes-por-estado_info,#tabla-listado-managers_info,#tabla-ordenes-abiertas_info, #tabla-listado-eventos_info,#tabla-listado-ultimas-ordenes_info, #tabla-listado-usuarios_info,#tabla-blotter-ordenes_info,#tabla-listado-fondos_info, #tabla-listado-feriados_info, #tabla-notif-ult-fondos-activos_info, #tabla-notif-fondos-pedientes_info, #tabla-notif-fondos-rechazados_info, #tabla-solicitudes-de-activacion-fondos_info, #tabla-errores-reporte-carga_info, #tabla-resumen-ordenes-cm_info, #tabla-resumen-creadas-cm_info, #tabla-listado-fund-admins_info, #tabla-notif-fondos-en-validacion_info, #tabla-listado-transfer-agents_info, #tabla-usuarios-conectados_info, #tabla-historial-conexiones_info, #tabla-fund-stock_info, #tabla-listado-fund-stock_info{
    float:left;
}
#tabla-grupos-subcuentas_paginate,#tabla-subcuentas_paginate,#tabla-listado-eventos-data-feed_paginate,#tabla-listado-eventos-actualizacion_paginate,#tabla-ordenes-por-estado-custodio_paginate,#tabla-lista-contactos-head_paginate,#tabla-listado-cuentas_paginate, #tabla-listado-mercado_paginate,#tabla-ordenes-por-excepciones_paginate,#tabla-ordenes-por-estado_paginate,#tabla-listado-managers_paginate,#tabla-ordenes-abiertas_paginate,#tabla-listado-eventos_paginate,#tabla-listado-ultimas-ordenes_paginate, #tabla-listado-usuarios_paginate,#tabla-blotter-ordenes_paginate,#tabla-listado-fondos_paginate, #tabla-listado-feriados_paginate, #tabla-notif-ult-fondos-activos_paginate, #tabla-notif-fondos-pedientes_paginate, #tabla-notif-fondos-rechazados_paginate, #tabla-solicitudes-de-activacion-fondos_paginate, #tabla-errores-reporte-carga_paginate, #tabla-resumen-ordenes-cm_paginate, #tabla-resumen-creadas-cm_paginate, #tabla-listado-fund-admins_paginate, #tabla-notif-fondos-en-validacion_paginate, #tabla-listado-transfer-agents_paginate, #tabla-usuarios-conectados_paginate, #tabla-historial-conexiones_paginate, #tabla-listado-fund-stock_paginate{
    float:right;
}
#tabla-grupos-subcuentas thead tr th,#tabla-subcuentas thead tr th,#tabla-listado-eventos-data-feed thead tr th,#tabla-listado-eventos-actualizacion thead tr th,#tabla-ordenes-por-estado-custodio thead tr th,#tabla-lista-contactos-head thead tr th,#tabla-listado-cuentas thead tr th, #tabla-listado-mercado thead tr th,#tabla-ordenes-por-excepciones thead tr th,#tabla-ordenes-por-estado thead tr th,#tabla-listado-managers thead tr th,#tabla-ordenes-abiertas thead tr th, #tabla-listado-eventos thead tr th,#tabla-listado-ultimas-ordenes thead tr th, #tabla-listado-usuarios thead tr th,#tabla-blotter-ordenes thead tr th,#tabla-listado-fondos thead tr th, #tabla-listado-feriados thead tr th, #tabla-notif-ult-fondos-activos thead tr th, #tabla-notif-fondos-pedientes thead tr th, #tabla-notif-fondos-rechazados thead tr th, #tabla-solicitudes-de-activacion-fondos thead tr th, #tabla-errores-reporte-carga thead tr th, #tabla-resumen-ordenes-cm thead tr th, #tabla-resumen-creadas-cm thead tr th, #tabla-listado-fund-admins thead tr th, #tabla-notif-fondos-en-validacion thead tr th, #tabla-listado-transfer-agents thead tr th, #tabla-usuarios-conectados thead tr th, #tabla-historial-conexiones thead tr th, #tabla-fund-stock thead tr th, #tabla-listado-fund-stock thead tr th{
    height:25px;
}
#tabla-grupos-subcuentas tbody tr td,#tabla-subcuentas tbody tr td,#tabla-listado-eventos-data-feed tbody tr td,#tabla-listado-eventos-actualizacion tbody tr td,#tabla-ordenes-por-estado-custodio tbody tr td,#tabla-lista-contactos-head tbody tr td,#tabla-listado-cuentas tbody tr td, #tabla-listado-mercado tbody tr td,#tabla-ordenes-por-excepciones tbody tr td,#tabla-ordenes-por-estado tbody tr td,#tabla-listado-managers tbody tr td,#tabla-ordenes-abiertas tbody tr td, #tabla-listado-eventos tbody tr td, #tabla-listado-ultimas-ordenes tbody tr td, #tabla-listado-usuarios tbody tr td,#tabla-blotter-ordenes tbody tr td,#tabla-listado-fondos tbody tr td, #tabla-listado-feriados tbody tr td, #tabla-notif-ult-fondos-activos tbody tr td, #tabla-notif-fondos-pedientes tbody tr td, #tabla-notif-fondos-rechazados tbody tr td, #tabla-solicitudes-de-activacion-fondos tbody tr td, #tabla-errores-reporte-carga tbody tr td, #tabla-resumen-ordenes-cm tbody tr td, #tabla-resumen-creadas-cm tbody tr td, #tabla-listado-fund-admins tbody tr td, #tabla-notif-fondos-en-validacion tbody tr td, #tabla-listado-transfer-agents tbody tr td, #tabla-usuarios-conectados tbody tr td, #tabla-historial-conexiones tbody tr td, #tabla-fund-stock tbody tr td, #tabla-listado-fund-stock tbody tr td{
    height:25px;
}
#tabla-grupos-subcuentas tfoot tr th,#tabla-subcuentas tfoot tr th,#tabla-listado-eventos-data-feed tfoot tr th,#tabla-listado-eventos-actualizacion tfoot tr th,#tabla-ordenes-por-estado-custodio tfoot tr th,#tabla-lista-contactos-head tfoot tr th,#tabla-listado-cuentas tfoot tr th, #tabla-listado-mercado tfoot tr th,#tabla-ordenes-por-excepciones tfoot tr th,#tabla-ordenes-por-estado tfoot tr th,#tabla-listado-managers tfoot tr th,#tabla-ordenes-abiertas tfoot tr th,#tabla-listado-eventos tfoot tr th, #tabla-listado-ultimas-ordenes tfoot tr th, #tabla-listado-usuarios tfoot tr th,#tabla-blotter-ordenes tfoot tr th,#tabla-listado-fondos tfoot tr th, #tabla-listado-feriados tfoot tr th, #tabla-notif-ult-fondos-activos tfoot tr th, #tabla-notif-fondos-pedientes tfoot tr th, #tabla-notif-fondos-rechazados tfoot tr th, #tabla-solicitudes-de-activacion-fondos tfoot tr th, #tabla-errores-reporte-carga tfoot tr th, #tabla-resumen-ordenes-cm tfoot tr th, #tabla-resumen-creadas-cm tfoot tr th, #tabla-listado-fund-admins tfoot tr th, #tabla-notif-fondos-en-validacion tfoot tr th, #tabla-listado-transfer-agents tfoot tr th, #tabla-usuarios-conectados tfoot tr th, #tabla-historial-conexiones tfoot tr th, #tabla-fund-stock tfoot tr th, #tabla-listado-fund-stock tfoot tr th{
    border-bottom: 1px solid #BEBEBE;
}
#tabla-grupos-subcuentas thead tr th div,#tabla-subcuentas thead tr th div,#tabla-listado-eventos-data-feed thead tr th div,#tabla-listado-eventos-actualizacion thead tr th div,#tabla-ordenes-por-estado-custodio thead tr th div,#tabla-lista-contactos-head thead tr th div,#tabla-listado-cuentas thead tr th div, #tabla-listado-mercado thead tr th div,#tabla-listado-managers thead tr th div,#tabla-ordenes-abiertas thead tr th div, #tabla-listado-eventos thead tr th div, #tabla-listado-ultimas-ordenes thead tr th div, #tabla-listado-usuarios thead tr th div,#tabla-blotter-ordenes thead tr th div,#tabla-listado-fondos thead tr th div, #tabla-listado-feriados thead tr th div, #tabla-notif-ult-fondos-activos thead tr th div, #tabla-notif-fondos-pedientes thead tr th div, #tabla-notif-fondos-rechazados thead tr th div, #tabla-solicitudes-de-activacion-fondos tr th div, #tabla-errores-reporte-carga tr th div, #tabla-resumen-ordenes-cm tr th div, #tabla-resumen-creadas-cm tr th div, #tabla-listado-fund-admins tr th div, #tabla-notif-fondos-en-validacion tr th div, #tabla-listado-transfer-agents tr th div, #tabla-usuarios-conectados tr th div, #tabla-historial-conexiones tr th div, #tabla-fund-stock tr th div, #tabla-listado-fund-stock tr th div{
    float:right;
}
#tabla-grupos-subcuentas  thead tr th div.DataTables_sort_wrapper,#tabla-subcuentas  thead tr th div.DataTables_sort_wrapper,#tabla-listado-eventos-data-feed thead tr th div.DataTables_sort_wrapper,#tabla-listado-eventos-actualizacion thead tr th div.DataTables_sort_wrapper,#tabla-ordenes-por-estado-custodio thead tr th div.DataTables_sort_wrapper,#tabla-lista-contactos-head thead tr th div.DataTables_sort_wrapper,#tabla-listado-cuentas thead tr th div.DataTables_sort_wrapper, #tabla-listado-mercado thead tr th div.DataTables_sort_wrapper,#tabla-listado-managers thead tr th div.DataTables_sort_wrapper,#tabla-ordenes-abiertas thead tr th div.DataTables_sort_wrapper, #tabla-listado-eventos thead tr th div.DataTables_sort_wrapper, #tabla-listado-ultimas-ordenes thead tr th div.DataTables_sort_wrapper, #tabla-listado-usuarios thead tr th div.DataTables_sort_wrapper,#tabla-blotter-ordenes thead tr th div.DataTables_sort_wrapper,#tabla-listado-fondos thead tr th div.DataTables_sort_wrapper, #tabla-listado-feriados thead tr th div.DataTables_sort_wrapper, #tabla-notif-ult-fondos-activos thead tr th div.DataTables_sort_wrapper, #tabla-notif-fondos-pedientes thead tr th div.DataTables_sort_wrapper, #tabla-notif-fondos-rechazados thead tr th div.DataTables_sort_wrapper, #tabla-solicitudes-de-activacion-fondos thead tr th div.DataTables_sort_wrapper, #tabla-errores-reporte-carga thead tr th div.DataTables_sort_wrapper, #tabla-resumen-ordenes-cm thead tr th div.DataTables_sort_wrapper, #tabla-resumen-creadas-cm thead tr th div.DataTables_sort_wrapper, #tabla-listado-fund-admins thead tr th div.DataTables_sort_wrapper, #tabla-notif-fondos-en-validacion thead tr th div.DataTables_sort_wrapper, #tabla-listado-transfer-agents thead tr th div.DataTables_sort_wrapper, #tabla-usuarios-conectados thead tr th div.DataTables_sort_wrapper, #tabla-historial-conexiones thead tr th div.DataTables_sort_wrapper, #tabla-fund-stock thead tr th div.DataTables_sort_wrapper, #tabla-listado-fund-stock thead tr th div.DataTables_sort_wrapper{
    float:left;
} 
#tabla-grupos-subcuentas_processing,#tabla-subcuentas_processing,#tabla-listado-eventos-data-feed_processing,#tabla-listado-eventos-actualizacion_processing,#tabla-ordenes-por-estado-custodio_processing,#tabla-lista-contactos-head_processing,#tabla-listado-cuentas_processing, #tabla-listado-mercado_processing,#tabla-ordenes-por-excepciones_processing,#tabla-ordenes-por-estado_processing,#tabla-listado-managers_processing,#tabla-ordenes-abiertas_processing, #tabla-listado-eventos_processing, #tabla-listado-ultimas-ordenes_processing, #tabla-listado-usuarios_processing,#tabla-blotter-ordenes_processing,#tabla-listado-fondos_processing, #tabla-listado-feriados_processing, #tabla-notif-ult-fondos-activos_processing, #tabla-notif-fondos-pedientes_processing, #tabla-notif-fondos-rechazados_processing, #tabla-solicitudes-de-activacion-fondos_processing, #tabla-errores-reporte-carga_processing, #tabla-resumen-ordenes-cm_processing, #tabla-resumen-creadas-cm_processing, #tabla-listado-fund-admins_processing, #tabla-notif-fondos-en-validacion_processing, #tabla-listado-transfer-agents_processing, #tabla-usuarios-conectados_processing, #tabla-historial-conexiones_processing, #tabla-fund-stock_processing, #tabla-listado-fund-stock_processing{
    text-align:center;
}
#tabla-listado-eventos-data-feed thead tr th,#tabla-listado-eventos-actualizacion thead tr th,#tabla-ordenes-por-estado-custodio thead tr th,#tabla-lista-contactos-head thead tr th,#tabla-listado-cuentas thead tr th, #tabla-listado-mercado thead tr th,#tabla-ordenes-por-excepciones thead tr th,#tabla-ordenes-por-estado thead tr th, #tabla-fund-stock thead tr th{
    text-align:center;
}
#tabla-listado-eventos-data-feed thead tr th div,#tabla-listado-eventos-actualizacion thead tr th div,#tabla-ordenes-por-estado-custodio thead tr th div,#tabla-lista-contactos-head thead tr th div,#tabla-listado-cuentas thead tr th div, #tabla-listado-mercado thead tr th div,#tabla-ordenes-por-excepciones thead tr th div,#tabla-ordenes-por-estado thead tr th div, #tabla-fund-stock thead tr th div{
    text-align:center;
}
#tabla-listado-eventos-data-feed thead tr th div.DataTables_sort_wrapper,#tabla-listado-eventos-actualizacion thead tr th div.DataTables_sort_wrapper,#tabla-ordenes-por-estado-custodio thead tr th div.DataTables_sort_wrapper,#tabla-lista-contactos-head thead tr th div.DataTables_sort_wrapper,#tabla-listado-cuentas thead tr th div.DataTables_sort_wrapper, #tabla-listado-mercado thead tr th div.DataTables_sort_wrapper,#tabla-ordenes-por-excepciones thead tr th div.DataTables_sort_wrapper,#tabla-ordenes-por-estado thead tr th div.DataTables_sort_wrapper, #tabla-fund-stock thead tr th div.DataTables_sort_wrapper{
    text-align:center;
}

.dataTables_length{
    display: none;
}

.dataTables_filter{
    display: none;
}



.cellCenter{
    text-align:center;
}
.cellLeft{
    text-align:left;
    padding-left:10px;
}
.cellRight{
    text-align:right;
    padding-right:10px;
}

.cellAmbosPadding{
    padding-left:10px;
    padding-right:10px;

}
tr.odd td{
    border-bottom: 1px solid #D4DBDB;
    border-right: 1px solid #D4DBDB;
    border-left: 1px solid #D4DBDB;
}

tr.even td{
    border-bottom: 1px solid #D4DBDB;
    border-right: 1px solid #D4DBDB;
    border-left: 1px solid #D4DBDB;

} 

.cellLeft5{
    text-align:left;
    padding-left:5px;
}
.cellRight5{
    text-align:right;
    padding-right:5px;
}

.cellAmbosPadding5{
    padding-left:5px;
    padding-right:5px;

}

.cellAmbosPadding3{
    padding-left:3px;
    padding-right:3px;

}

#tabla-lista-contactos-head tbody tr td,#tabla-listado-cuentas tbody tr td, #tabla-listado-mercado tbody tr td,#tabla-ordenes-abiertas tbody tr td, #tabla-listado-eventos tbody tr td,#tabla-listado-ultimas-ordenes tbody tr td, #tabla-listado-usuarios tbody tr td, #tabla-blotter-ordenes tbody tr td, #tabla-listado-fondos tbody tr td, #tabla-listado-feriados tbody tr td, #tabla-notif-ult-fondos-activos tbody tr td, #tabla-notif-fondos-pedientes tbody tr td, #tabla-notif-fondos-rechazados tbody tr td{
    font-size: 1.1em;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 12px;
}


root { 
    display: block;
}

.extend-menu{
    width:10px;
    height:8px;
}

.colaps-menu{    
    width:8px;
    height:10px;    
}

#tabla-listado-feriados tr{
    height: 20px;
}
#tabla-listado-feriados td, #tabla-listado-feriados th, #tabla-listado-feriados_info{
    font-size: 11px;
}


.fg-toolbar{
    background-color:white;
    border-top: none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    height:25px;
}


.dataTables_paginate{
    margin-top:8px;
    margin-right:0px;
    /*width:30%;*/
    text-align:right;
    background-color:#637A7D;
}

.dataTables_paginate span{
    font-size: 11px;
    /*background-color:#425457;*/
    opacity:1;
}

.dataTables_paginate span .fg-button .ui-state-disabled{
    font-size: 11px;
    background-color:black;
    opacity:1;
}

.dataTables_info{  
    color:black;
    margin-top:8px;
    /*margin-left:40%;*/
    font-weight: normal;
}

span .fg-button{
    padding:2px;
    margin:1px;
}

.ui-buttonset .ui-button{
    margin-left:1px;
    margin-right:1px;
}

#test-default-state{
    color:white;
    background-color:#425457;
    opacity:1;
}


span .fg-button .ui-state-disabled{
    color:white;
    background-color:#425457;
    opacity:1;
}


.pagination{
    background-color: white;
    height: 20px;
}


.pagination span{
    padding: 2px;
    background-color: #E4E4E4;
    margin: 2px;

}

.pagination span.active{   
    background-color: #999999;   
}

.pagination span.active a{
    color: white;
}

.trTimeToCutOffMenor1, tr.trTimeToCutOffMenor1 td{
    background-color: #FF4545; /*red*/
    color: white;
}

.trTimeToCutOffEntre1y2, tr.trTimeToCutOffEntre1y2 td{
    background-color: #FFC410; /*orange;*/
    color: white;
}

.trTimeToCutOffMayor2, tr.trTimeToCutOffMayor2 td{
    background-color: #54F642; /*green;*/
    color: white;
}

.TimeToCutOffMenor1{
    color: #FF0000; /*#FF4545;*/
    font-weight: bold;
}
.TimeToCutOffEntre1y2{
    color: #FF9900; /*#FFC410;*/
    font-weight: bold;
}
.TimeToCutOffMayor2{
    color: #536C70; /*#54F642;*/
    font-weight: bold;
}

.cellAmbosPadding2{
    padding-left:4px;
    padding-right:4px;

}

th.ui-state-default{
    background:#DFE5E5;
    color:#536C70;  
    border: none;
    border-right: 1px solid #D4DBDB;
    border-top: 1px solid #D4DBDB;
    border-bottom:  1px solid #D4DBDB;
}

#tabla-usuarios-conectados_filter.dataTables_filter, #tabla-historial-conexiones_filter.dataTables_filter{
    display:block;
}
#tabla-usuarios-conectados thead th.centradoEspecial div.DataTables_sort_wrapper, #tabla-historial-conexiones thead th.centradoEspecial div.DataTables_sort_wrapper{
    float: none;
}

#tabla-fund-stock_paginate, #tabla-fund-stock_info, #tabla-lista-contactos-head_info{
    display:none;
}

.group{
    background-color: #1B80FE;
    color:white;
    font-weight: bold;
    text-align: left;
    height:18px;
}

thead tr th.thModif div{
    position: relative;
    top:2px;
}
thead tr th.thModif div.DataTables_sort_wrapper{
    top: 6px;
}
thead tr th.thModif2 div.DataTables_sort_wrapper{
    position: relative;
    top: 10px;
}